<div class="columns">
    <div class="column">
        <a routerLink="/users">Go back to Users</a>
    </div>
</div>
<div *ngIf="!userLoaded" class="columns is-centered">
    <div class="column is-narrow">
        <app-spinner></app-spinner>
    </div>
</div>
<div class="columns" ng-if="userLoaded">
    <div class="column">
        <h1><i class="fa fa-user" aria-hidden="true"></i> {{user.name}}</h1>
    </div>
    <div class="column">
        <span><i class="fa fa-tag" aria-hidden="true"></i> {{user.username}}</span>
    </div>
    <div class="column">
        <span><i class="fa fa-envelope" aria-hidden="true"></i> {{user.email}}</span>
    </div>
    <div class="column">
        <span><i class="fa fa-phone" aria-hidden="true"></i> {{user.phone}}</span>
    </div>
</div>
