<div class='card' *ngIf='post'>
    <header class='card-header'>
        <p class='card-header-title'>
            {{post.title}}
        </p>
    </header>
    <div class='card-content'>
        <div class='content'>
            {{post.body}}
        </div>
        <app-comment-list *ngIf='showComments' [comments]='comments | async' (createComment)='onAddComment($event)'></app-comment-list>
    </div>
    <footer class='card-footer'>
        <a (click)='toggleComments()' class='card-footer-item'>
            <i class='fa fa-comment' aria-hidden='true'></i>&nbsp;Comments</a>
    </footer>
</div>
