<div *ngIf="!usersLoaded" class="columns is-centered">
    <div class="column is-narrow">
        <app-spinner></app-spinner>
    </div>
</div>
<table *ngIf="usersLoaded" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users" class="user-row" (click)="showUserDetails(user)">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.company.name}}</td>
        </tr>
    </tbody>
</table>